
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#include "../../../config/keymap.keymap"

#include <input/processors.dtsi>

&zip_temp_layer {
    excluded-positions = <
        37 // J
        38 // K
            >;
};
